*{
	font:'Markazi Text', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#outer {
   margin:0 auto; 
   display: block;
   max-width: 80%;
}

#logo{
    size: 50%;
    float: left
}
.cf{
	content: "";
	display: table;
	clear: both;
}

.minilogo{
	display: none;
}


#menubar{
	float: right;
	margin-top: -15px;
}

.navitem{
	display: inline-block;
	margin-left: 8px;
	float: left;
	margin-top:38px;

}

.navitem a{
	text-decoration: none;
	padding: 0px 15px;
	font: bold 1.6em 'Markazi Text', serif;
	color:#252556;
	width: 150%;
	text-align: center;
	border-radius: 8px;
}

.navitem a:hover{
  background-color: #ddd;
  color: black;
  transition-duration: 1s;
  transition-property: color;
  transition-duration: ease-out;
}

@media (max-width: 1000px){

	#menubar ul{
		display: table;
		margin: 0 auto;
	}
	
	.navitem{
		margin-left: 0px;
		margin-top:20px;
		/*float: none;*/
	}

	.navitem a{
		padding: 0px 15px;
	}

	.navitem::last-child{
		margin-bottom: 5px;
	}


	.minilogo{
		display: block;
		width: auto;
	}
	
	.minilogo img{
		display: block;
		margin: 0 auto;
		width: auto;
		text-align: center;
	}

	.logo{
		display: none;
	}

	#logo{
		float: none;
	}

	#menubar{
	float: none;
	}

}


@media (max-width: 450px){
	.navitem{
		margin-left: 0px;
		margin-top:20px;
		float: none;
	}

}

hr{
	clear: both;
	width: 100%;
	margin: 5px 0px;
}

.herobody{
	float: left;
	width: 50%;
	font: 1.3em 'Markazi Text', serif;
	/*font-size: 1.3em;*/
	padding: 30px;
}

.heroface{
	position: relative;
	z-index: 0;
	float: right;
	margin-right: 30px;
	border:3px;
	border-style: groove;
}

.highlighter{
	color: red;
}

.bottomspacer{
	margin-bottom: 20px;
}

.gridcontainer{
	width: 100%;
	/*background-image: url("../images/giftly.png");*/
	background-color: #F1EFEE;
	padding-bottom: 12px;
	margin-bottom: 8px;
}

.gridheader{
	margin: 20px auto;
	font: 1.4em 'Markazi Text', serif;
	text-align: center;
	text-decoration: underline;
}

.clgrid {
	width: 33%;
	margin: 0 auto;
	float: left;
	text-align:center;
	
}

.clgrid a{
	text-decoration: none;
}

.gridcol::after{
content: "";
display:table;
clear: both;
}

h3 {
	text-align: center;
	font: 1.4em 'Markazi Text', serif;
	background: grey;
}

header::after{
	content: "";
	display: table;
	clear: both;
}

.followme{
	
}

.followme p{
	text-align: center;
	font: 1.4em 'Markazi Text', serif;
}

.grid-container{
	display: grid;
	grid-template-columns: 30% 40% 30%;
  	grid-template-rows: 40% 60%;
  	grid-gap: 2px;
  	padding-bottom: 10px;
}

.grid_item:first-child {
	grid-row: 1 / span 2;
}

.grid_item:nth-child(3){
	background-color: #666060;
	width: 100%
}

.grid_item p{	
	color: white;
	padding: 10px 10px;
}

.books{
	float: right;
}

.grid_item img{
	display: block;
	width: 100%;
}

.books li{
	list-style-position: inside;
}

.flexitem{
	display: flex;
	box-sizing: border-box;
}

.flexitem p{
	text-align: center;
	box-sizing: border-box;
}

.flexitem div{
	width: 33%;
	box-sizing: border-box;
}

.flexitem div img{
	display: block;
	margin: auto;
}

.flexitem div a{
	text-decoration: none;
	cursor: pointer;
}

.flexitem div a:hover{
	color:red;
}

@media (max-width: 1600px){
 #outer{
 	max-width: 100%;
 }
 .navitem{
 	display: block;
 	text-align: center;
 }

}

@media (max-width: 1000px){
	.herobody{
		display: block;
		width: 100%;
	}

	.heroface{
		display: none;
	}

	.flexitem{
		display: block;
	}

	.flexitem div{
		width:148px;
		margin: 0 auto;
	}

	.flexitem p{
		width:128px;
		text-align: center;
	}

	.flexitem div img{
		padding-left: 0px;
	}

	.followmelabel{
		display: none;
	}

}




